awesome-streamlit==20200728.1
colorama==0.4.5
columns==0.0.2
commonmark==0.9.1
dash==2.6.0
dash-bootstrap-components==1.2.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dask==2022.8.0
debugpy==1.6.2
decorator==5.1.1
filelock==3.8.0
gitdb==4.0.9
GitPython==3.1.27
mysql-connector-python==8.0.30
numpy==1.23.1
openpyxl==3.0.10
packaging==21.3
pandas==1.4.3
pandocfilters==1.5.0
Pillow==9.2.0
pipenv==2022.8.15
pyarrow==8.0.0
pycodestyle==2.9.1
pycparser==2.21
pydeck==0.7.1
Pygments==2.12.0
Pympler==1.0.1
PyMySQL==1.0.2
pyparsing==3.0.9
pyrsistent==0.18.1
python-dateutil==2.8.2
python-decouple==3.6
python-dotenv==0.19.2
pytz==2022.1
scipy==1.8.1
semver==2.13.0
Send2Trash==1.8.0
simplejson==3.17.6
six==1.16.0
smmap==5.0.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.40
streamlit==1.12.2
streamlit-aggrid==0.3.2
streamlit-awesome-table==0.1.0
streamlit-card==0.0.3
streamlit-card-select==0.3.0
streamlit-metrics==0.1.0
toml==0.10.2
urllib3==1.26.11
watchdog==2.1.9
xlrd==2.0.1
zipp==3.8.1
